header {
    background: #003956;
    height: 240px;
    border-bottom: 15px #921942 solid;
}

#Tickets {
    text-decoration: none;
    padding: 20px;
    background-color: white;
    color: #003956;
    border: 5px #921942 solid;
    float: right;
    margin: -150px 80px
}

#Tickets:hover {
    color: white;
    background-color: #921942;
}

nav,
a {
    font-family: Big Caslon;
    color: #d3d3d3;
    font-size: 20pt;
    text-align: center;
    margin: 10px 35px;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: white;
}

#logo {
    width: 167px;
    height: 167px;
    margin: auto;
    display: block;
    padding: 10px;
}
