body {
    margin: 0;
}

.active:active {
    color: white;
}

/*Start home pagina*/

.home nav ul {
    list-style: none;
    margin: 0 60px;
    padding: 0px;
}

.home nav ul li {
    float: left;
}

.home nav ul li a {
    color: #d3d3d3;
    font-size: 24pt;
    display: block;
    padding: 8px 30px;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

#homeheader {
    background: #003956;
    height: 240px;
    border-bottom: 15px #921942 solid;
}

/*Tekstbox op home pagina*/

section {
    width: 300px;
    height: 235px;
    background-color: white;
    border: 7px #921942 solid;
    padding: 10px;
    text-align: left;
    position: relative;
    left: 150px;
    top: 150px
}

section h1 {
    margin: 0px;
    color: #921942;
}

/*achtergrond img op de home page*/

#achtergrond {
    width: 100%;
    position: absolute;
}

/*Tickets button op home pagina*/

#TicketsHome {
    text-decoration: none;
    padding: 20px;
    font-size: 24pt;
    background-color: white;
    color: #003956;
    border: 5px #921942 solid;
    float: right;
    margin: -150px 100px;
}

/*Tickets button op home pagina*/

#TicketsHome:hover {
    color: white;
    background-color: #921942;
}

/*Tickets button in de navigatie*/

#TicketsNav2:hover {
    color: white;
    background-color: #921942;
}

/*Logo op home page*/

#logo {
    width: 167px;
    height: 167px;
    margin: auto;
    display: block;
    padding: 10px;
}

/*Eind home pagina*/

/*.Nav2 elementen zijn gemaakt voor de navigatie die op de overige pagina's staat*/

.Navheader2 nav ul {
    list-style: none;
    margin: 0px 100px;
    padding: 0px;
}

.Navheader2 nav ul li {
    float: left;
}

.Navheader2 nav ul li a {
    color: #d3d3d3;
    font-size: 24pt;
    display: block;
    margin: 0px 110px;
    margin-right: auto;
    position: relative;
    top: 140px;
}

.Navheader2 nav ul li a:link {
    text-decoration: none;
}

.Navheader2 nav ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}


#TicketsNav2 {
    text-decoration: none;
    font-size: 24pt;
    padding: 20px;
    background-color: white;
    color: #003956;
    border: 5px #921942 solid;
    margin: 20px -40px;
    position: absolute;
    left: 1000px
}

/*Header van overige pagina's (geen home page)*/

.header2 {
    background: #003956;
    height: 189px;
}

/*Dit is het logo op de overige pagina's (geen home page)*/

.logo2 {
    width: 167px;
    height: 167px;
    margin: auto;
    padding: 10px;
    position: absolute
}

/*Start tickets pagina*/

.TicketsZoekbar {
    padding: 30px;
    background-color: #921942;
    color: #d3d3d3;
}

.ticketsbody {
    position: relative;
    left: 0px;
    top: 0px;
    width: auto;
    border: 0px
}

.Dezeweek {
    text-align: center;
    font-size: 36pt;
    font-family: Big Caslon;

}








/*Einde tickets pagina*/

/*start agenda pagina*/

/*einde agenda pagina*/

/*start archief*/

/*Einde archief*/

/*Start contact pagina*/

.iframe {
    width: 500px;
    height: 500px;
    float: right;
    margin: 0px;

}

/*Einde contact pagina*/
